.App {
  background-image: url("./assets/map.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  text-align: center;
  /*background: linear-gradient(
    90deg,
    rgba(115, 121, 9, 1) 15%,
    rgba(233, 199, 118, 0.9864320728291317) 52%,
    rgba(0, 212, 255, 1) 94%
  );*/
}

.App h1 {
  font-family: "Luckiest Guy", cursive;
  margin: auto;
  padding-top: 25px;
  background: linear-gradient(
    90deg,
    rgba(251, 63, 101, 1) 18%,
    rgba(252, 213, 70, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
  font-size: 50px;
}

.div-nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px 0;
}

.A-app {
  text-decoration: none;
  background-color: cadetblue;
  color: cornsilk;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
