.activityForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 10px;
  padding-top: 50px;
}

.activityForm select {
  border: none;
  background-color: ghostwhite;
  border-radius: 5px;
  padding: 3px;
}

.labels {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f2e3db;
  padding: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.labels input,
select {
  margin: 5px 0;
}

.divSelect {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 60px 20px;
  background-color: #f2e3db;
  margin-bottom: 20px;
}

.addBtn {
  text-decoration: none;
  background-color: cadetblue;
  color: cornsilk;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  border: none;
  font-size: large;
  transition: ease-out 0.5s;
}

.addBtn:hover {
  box-shadow: 0 0 20px cornsilk;
  background-color: cornsilk;
  color: cadetblue;
}

.btnsForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.bckBtn {
  text-decoration: none;
  background-color: cornsilk;
  color: cadetblue;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  transition: ease-out 0.5s;
}

.bckBtn:hover {
  box-shadow: 0 0 10px black;
  background-color: cadetblue;
  color: cornsilk;
}

.error {
  color: red;
}
