.divCard {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px;
  background-color: #f2e3db;
  border-radius: 25px;
  padding-bottom: 10px;
  transition: ease-in 0.5s;
}

.divCard h2 {
  padding: 10px;
}
.divCard a {
  text-decoration: none;
  color: chocolate;
}

.divCard:hover {
  box-shadow: 0 5px 25px black;
}
